mat-card {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.toDo {
  font-size: 50px;
  color: rgb(71, 71, 71);
}

.done {
  font-size: 50px;
  color: green;
}

.bi-trash {
  cursor: pointer;
}

mat-card-actions {
  button {
    margin-left: 10px;
  }
}
