<section class="vh-100" style="background-color: #eee;">
  <div *ngIf="!cadastro" class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card">
          <div class="card-header p-3 row align-items-start">
            <h1 class="mb-0 col">To-do List</h1>
            <div class="col">
              <button type="button" (click)="novaTarefa()" class=" btn btn-success pull-right">NOVA TAREFA</button>
            </div>
          </div>
          <div class="card-body table-responsive-xl" data-mdb-perfect-scrollbar="true"
            style="position: relative; height: 400px">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th style="width:20%" scope="col">REALIZADO</th>
                  <th style="width:20%" scope="col">TÍTULO</th>
                  <th style="width:30%" scope="col">DESCRIÇÃO</th>
                  <th style="width:10%" scope="col">STATUS</th>
                  <th style="width:20%" scope="col">AÇÕES</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let tarefa of tarefas" class="fw-normal">
                  <td class="align-middle">
                    <input (click)="concluirTarefa(tarefa)" class="checkbox "
                     type="checkbox" [checked]="tarefa.status=='Concluído'">
                  </td>
                  <td class="align-middle">
                    <span>{{ tarefa.titulo }}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ tarefa.descricao}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ tarefa.status}}</span>
                  </td>
                  <td class="align-middle">
                    <button (click)="edit(tarefa)" class="btn btn-primary">
                      <span style="color:white;" class="material-icons">
                        edit
                      </span>
                    </button>
                    <button (click)="delete(tarefa)" style="margin-left:10px" class="btn btn-danger">
                      <span style="color:white" class=" material-icons">
                        delete_outline
                      </span>
                    </button>

                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="cadastro">
    <div style="background-color: #eee;" class="container py-5">
      <form [formGroup]="form">
        <div class="card p-3">
          <div class="form-group">
            <label for="formGroupExampleInput">TITULO</label>
            <input type="text" class="form-control" formControlName="titulo" id="titulo" placeholder="TÍTULO DA TAREFA">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">DESCRIÇÃO</label>
            <textarea type="text" class="form-control" formControlName="descricao" placeholder="DESCRIÇÃO DA TAREFA" id="formGroupExampleInput2"
             > </textarea>
          </div>
          <div class="d-flex justify-content-center">

            <div style="margin-top: 10px;" >
              <button type="button" (click)="submit()" class="btn btn-success btn-block">Criar Tarefa</button>
            </div>
            <div style="margin-left: 10px;margin-top: 10px;">
              <button type="button" (click)="novaTarefa()" class="btn btn-danger btn-block">Cancelar</button>
            </div>
  
          </div>
        </div>
  
      </form>

    </div>

  </ng-container>
  <section>